
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li>
            <a href="mailto:{{ site.email }}">
              Email: {{ site.email}}
            </a>
          </li>
          <li>
            <a href="{{ site.url2 }}">
              {{ site.url2 }}
            </a>
          </li>
          <li>
            <a href="{{ site.github_url }}">
                {{ site.github_url }}
            </a>
          </li>
          <li>
            <a href="https://twitter.com/GoodmanPlanFan">
                Twitter: {{ site.twitter_username }}
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>

      </div>

    </div>

  </div>
</div>
